*{
    margin: 0;
    padding: 0;
}

body{
    background: #dddddd;
}

#contenedor{
    width: 950px;
    margin: 0 auto;
}

header{
    width: 950px;
    height: 100px;
    background: #49c0b6;
}

header h1{
    text-align: center;
    color: white;
    line-height:  100px;
    font-family: 'Dancing Script', cursive;
    font-size: 64px;
    text-shadow: 2px 2px 4px #000000;
}
nav{
    text-align: center;
    background: #ed9e46;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    font-family: verdana, arial, helvetica;
    font: size 20px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

nav ul li a:hover{
    color: black;
}

section #contenido {

    width: 750px;
    height: 450px;
    margin-top: 10px;
    background: white;
    float:left;
    box-shadow: 0px 5px;
}

aside {
    width: 185px;
    height: 400px;
    margin-top: 5px;
    margin-bottom: 15px;
    background: white;
    float: left;
    margin-left: 15px;
    box-shadow: 0px 5px #000000;
}

aside:nth-of-type(1){
    height:50px;
    background: #dddddd;
}

footer {
    clear: both;
    width: 950px;
    height: 50px;
    background: #49c0b6;
    text-align: center;
    color: white;
    line-height: 50px;
    font-style: italic;
}


.formRegister{
    width: 400px;
    background: #00205b;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-size: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.formRegister h4 {
    font-size: 24px;
    margin-bottom:22px;
}

.form-control{
    width: 100%;
    background: #00205b;
    padding:10px;
    border-radius:4px;
    margin-bottom: 16px;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.formRegister p {
    height:40px;
    text-align:center;
    font-size: 17px;
}

.formRegister a {
    color: white;
    text-decoration: none;
}

.formRegister a:hover {
    color: white;
    text-decoration: underline;
}

.formRegister .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}




